@import 'base/base';

.header-box{
    height: 90vh;
    background-image: 
    linear-gradient(to right bottom, rgb(lightgreen,0.4),rgb(lightblue,0.4)),
    url("../img/hero.jpg");
    background-position: top;
    
}


